/* Genaral */
body {
  font-family: 'Abel', sans-serif;
  font-size: 2em;
}

.background {
  background: #EC6F66;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F3A183, #EC6F66);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F3A183, #EC6F66); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
  margin: 0;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
  font-style: italic;
}

.padding {
  padding: 2% 0;
}

.color-white {
  color: #fff;
}

.white-border {
  border: #fff solid 1px;
  padding: 1%;
}

.white-border--narrow {
  width: 50%;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

/* Pixabay API */
#output {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 10%;
}

#output .item {
  width: 33%;
}

#output .item img {
  display: block;
  object-fit: cover;
  max-width: 100%;
  height: 250px;
  border: 1px solid #fff;
  box-sizing: border-box;
  margin-top: 4px;
}

#output .item img:hover {
  opacity: 0.8;
}

.buttons-wrapper {
  margin: 8% 0;
}

/* Te */
.list-item a {
  color: #fff
}

.list-item a:hover {
  opacity: 0.8;
}

/* Footer */
ul.social {
  display: block;
  list-style-type: none;
  margin: 5% 0;
  text-align: center;
}

ul.social li {
  font-size: 2em;
  display: inline;
  padding: 0 4%;
}

ul.social li a {
  color: #666;
}

ul.social li.facebook a:hover{
  color: rgb(59, 89, 152);
}

ul.social li.twitter a:hover{
  color: rgb(0, 172, 237);
}

ul.social li.linkedin a:hover{
  color: rgb(0, 123, 182);
}

ul.social li.gitlab a:hover{
  color: rgb(226, 67, 41);
}

p.copyright {
  color: #ddd;
  font-size: 1em;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

@media (max-width: 1024px) {
  #output .item {
    width: 50%;
  }
  
  #output .item img {
    height: 350px;
    margin-top: 0;
  }
}

@media (max-width: 768px) {
  #output {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 10% 0;
  }

  #output .item {
    width: 100%;
  }
  
  #output .item img {
    height: 350px;
    margin-top: 0;
    margin: 0 auto;
  }

  h1 {
    font-size: 1.5em;
  }

  .white-border--narrow {
    width: 80%;
  }
}

/* GOOGLE ADVERT SIZES */

.google-add-320x100 {
  width: 320px;
  height: 100px;
  background-color: rgba(221, 221, 221, 0.473);
  border: #666 1px solid;
}

.google-add-300x250 {
  width: 300px;
  height: 250px;
  background-color: rgba(221, 221, 221, 0.473);
  border: #666 1px solid;
  margin: 0 auto;
}


.google-add-728x90 {
  width: 728px;
  height: 90px;
  background-color: rgba(221, 221, 221, 0.473);
  border: #666 1px solid;
  margin: 30px auto 0 auto;
}

.border {
  border: solid 1px #ccc;
}

@media screen and (max-width: 1232px) {
  body {
    background-color: #EC6F66;
  }

  .hide {
    display: none;
  }
}